
body,html{
width: 100%;
height: 100%;
background-color: #f7f6fa;
}

#login{
height: 65%;
width: 20%;
background-color: #ccf5c9;
position: absolute;
transform: translate(-50%,-50%);
top: 50%;
left: 50%;
border-radius: 10px;
backdrop-filter: blur(10px);
border: 2px solid rgba(255,255,255,0.1);
box-shadow: 0 0 40px rgba(8,7,16,0.6);
padding: 50px 35px;
font-family: 'Poppins',sans-serif;
color: #110f0f;
}


#login h3{
font-size: 40px;
font-weight: 500;
text-align: center;
}
.logar{
    margin-top: 20%;
}
label{
padding-top: 20px;
display: block;
font-size: 16px;
font-weight: bold;
}
input{
display: block;
height: 50px;
width: 100%;
background-color: rgba(250, 250, 250, 0.699);
border-radius: 3px;
padding: 0 10px;
margin-top: 8px;
font-size: 14px;
font-weight: 300;
}
::placeholder{
color: #0c0b0b;
}
button{
margin-top: 60px;
width: 100%;
background-color: #ffffff;
color: #080710;
padding: 15px 0;
font-size: 18px;
font-weight: 600;
border-radius: 5px;
cursor: pointer;
}
/* .btn{
  margin-left: 50%;
  margin-top: 40%;
  background-color: #ffffff;
  color: #080710;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  z-index: 9000;
  position: absolute;
  } */
  

#resgistro{
    height: 80%;
    width: 50%;
    background-color: #ccf5c9;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    font-family: 'Poppins',sans-serif;
    color: #110f0f;
    columns: 3;
    column-gap: 50px; 
}

#familia{
    height: 40%;
    width: 30%;
    background-color: #ccf5c9;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    font-family: 'Poppins',sans-serif;
    color: #110f0f;
}
#familia h3{
    margin-top: -5%;
    margin-left: -80%;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    }

        .custom-select {
          position: relative;
          font-family: Arial;
        }
        
        .custom-select select {
          display: none; 
        }
        
        .select-selected {
          background-color: #ffffff;
          width: 220%;
        }

        .select-selected:after {
          position: absolute;
          content: "";
          top: 14px;
          right: -130%;
          width: 0;
          height: 0;
          border: 6px solid transparent;
          border-color: #fff transparent transparent transparent;
        }
        
        .select-selected.select-arrow-active:after {
          border-color: transparent transparent #fff transparent;
          top: 7px;
          
        }
        
        .select-items div,.select-selected {
          color: #080710;
          padding: 8px 16px;
          border: 1px solid transparent;
          border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
          cursor: pointer;
          user-select: none;
        }
        
        .select-items {
            width: 237%;
          position: absolute;
          background-color: #ffffff;
          top: 100%;
          left: 0;
          right: 0;
          z-index: 99;
        }
        
        .select-hide {
          display: none;
        }
        
        .select-items div:hover, .same-as-selected {
          background-color: rgba(0, 0, 0, 0.1);
        }